In [92]:
#************Welcome to AI Studio by Shahzaib************#

#This tutorial is about a brief overview of Variables and A short Example for the better understanding of variables.

#To learn more about Python, its usage in MLOps and related fields follow my youtube chanel.

#******https://www.youtube.com/channel/UCDjhZqUukWedbSbl0stU2Gg*****#

#******My LinkedIn Page: https://www.linkedin.com/in/zaibhamid/*******#

#****** Let's Begin ******#

In [93]:
#Simply Printing in python

print("This is my first try!")

This is my first try!

In [94]:
#let's try again this string

print('Show the string')

Show the string

In [95]:
#we can print numbers as

print(32)

#printing two numbers

print(45,45)

#printing numbers with string

print(45,45,'Hello')

#print integers as string
print(['45 45'])

32
45 45
45 45 Hello
['45 45']

In [96]:
#Assigning a Int to the variable

a = 1

In [97]:
print(a)

1

In [98]:
#arithmatic Operations using variables

a = 2
b = 3
add= 2+3
sub=3-1
mul=2*3

In [99]:
#printing in different aspects
print(a)
print(b)
print(a,b)
print(add)
print(sub)
print(mul)
print(add,sub,mul)

2
3
2 3
5
2
6
5 2 6

In [100]:
#Assigning String 'str' to a variable

c = "You can do it"

In [101]:
print(c)

You can do it

In [102]:
#First Approach

In [103]:
v1 = "first string"
v2 = "second string"

In [104]:
temp = v1
v1 = v2
v2 = temp

In [105]:
print(v1)

second string

In [106]:
print(v2)

first string

In [107]:
#Second Approach

In [108]:
v1 = "First Variable"
v2 = "Second Variable"

In [109]:
# Swapping of two variables
# without using third variable
v1, v2 = v2, v1

In [110]:
print("Value of v1:", v1)
print("Value of v2:", v2)

Value of v1: Second Variable
Value of v2: First Variable

In [111]:
#Third Approach to swap variables by using Boolean Logic

In [112]:
v1=100
v2=200

In [113]:
v1 = v1 ^ v2
v2 = v1 ^ v2
v1 = v1 ^ v2

In [114]:
print("Value of v1:", v1)
print("Value of v2:", v2)

Value of v1: 200
Value of v2: 100

In [115]:
#Your Assignment

#Use arthemetic Operators to swap values of two variables

#Hint1: Using addition and subtraction operator
#Hint 2:Using multiplication and division operator 
#I will upload the solution to this problem on my Github

#****************************Follow Me***********************#

#******https://www.youtube.com/channel/UCDjhZqUukWedbSbl0stU2Gg*****#

#******My LinkedIn Page: https://www.linkedin.com/in/zaibhamid/*******#